body {
    padding: 0;
    margin: 0;
    background: lightgray;
    background-image: url("../photos/Tree.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.jumbotron {
    text-align: center;
}
footer{
    background: lightgray;
}